<!DOCTYPE html>
<html lang="en" >
<link>
  <meta charset="UTF-8">
  <title>RByoga</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:600'><link rel="stylesheet" href="login/style.css">
  <script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
  <script src="https://cdn.bootcss.com/vue-router/3.1.3/vue-router.min.js"></script>
  <script src="https://cdn.bootcss.com/axios/0.19.2/axios.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>

	<link href="./css/styleStu.css" rel="stylesheet">
    <script src="layer-v3.1.1/layer/layer.js"></script>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<style type="text/css">
	body {
		background-image: url(images/153331465.jpg) ;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-attachment: fixed;
		background-position: center center;
		
	}
</style>
</head>
<body>
<!-- partial:index.partial.html -->
<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">登录</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">注册</label>
		
		<div class="login-form">
			<div>
			<div class="sign-in-htm" id="login">
				<div class="group">
					<label for="user" class="label">用户名</label>
					<input  type="text" class="input" v-model="username" >
				</div>
				<div class="group">
					<label for="pass" class="label">密码</label>
					<input  type="password" class="input" data-type="password" v-model="password" >
					{{msg}}
				</div>
				<div class="group">
					<input id="check" type="checkbox" class="check" checked>
					<label for="check"><span class="icon"></span>保持登录</label>
				</div>
				<div class="group">
					<input type="button" class="button" value="登录" @click="login">
				</div>
				<div class="hr"></div>
				<div class="foot-lnk">
					<a href="forget.html">忘记密码?</a>
					
				
				</div>
			</div>

		
			<!--注册页面-->
			<div class="sign-up-htm" id="register">
				<div class="group">
					<label for="user" class="label">用户名</label>
					<input  type="text" class="input" v-model="username" @change="checkUname" >
				</div>
				<div class="group">
					<label for="pass" class="label">密码</label>
					<input  type="password" class="input" data-type="password" v-model="password" @change="checkPwd">
					{{msg}}
				</div>
				<div class="group">
					<label for="pass" class="label">确认密码</label>
					<input  type="password" class="input" data-type="password" v-model="confirmPwd" @change="confPwd">
					{{msg2}}
				</div>
				<div class="group">
					<label for="pass" class="label">安全码</label>
					<input  type="password" class="input" v-model="safecode" @change="checkSafe">
					{{msg3}}
				</div>
				
				<div class="group">
					<input type="submit" class="button" value="注册" @click="register">
				</div>
				<div class="hr"></div>
				<div class="foot-lnk">
					<label for="tab-1">已经注册?</a></label>
				</div>
			</div>
			
		</div>
	</div>
</div>
</div>
<!-- partial -->
  <script>

	  var login=new Vue({
		 el:"#login",
		 data:{
			 username:null,
			 password:null,
			 msg:null
		 },
		 methods: {

			login(){

				if(this.username==null||this.username=='用户名不能为空'){
					this.username='用户名不能为空';
					return false;
				}
				var r1=/^[a-zA-Z0-9]{3,20}$/;
				if (!r1.test(this.username)) {
					this.username='用户名必须是3-20位字母或数字组成';
					return false;
				}
				if(this.password==null||this.password=='密码不能为空'){
					this.msg='密码不能为空';
					return false;
				}
				var r2=/^[0-9]{6,10}$/;
				if(!r2.test(this.password)){
					this.msg='密码必须为6-10数字';
					return false;
				}
				axios.post("http://localhost:8888/login", {
                      "u_username":this.username,
                      "u_password":this.password
                  },{withCredentials:true}).then((response) =>{
					if(response.data.code==201){
						layer.msg("场馆登录成功！！",{time:1000,icon:1,shift:6},function(){});
						window.location.href='http://localhost:8888/store/storeMain';  //跳转到场馆页面
					}else if(response.data.code==202){
						layer.msg("学员登录成功！！",{time:1000,icon:1,shift:6},function(){});
					}else if(response.data.code==203){
						layer.msg("教练登录成功！！",{time:1000,icon:1,shift:6},function(){});
						window.location.href='coach/coachMain.html';  //跳转至教练页面
					}else{
						layer.msg("用户名或密码错误",{time:1000,icon:0,shift:6},function(){});

						window.location.href='login.html';
					}
					this.username = this.password = '';

                });
			}
		 }
	  });
  </script>


  <script>
	  var register=new Vue({
		el:"#register",
		data:{
			username:null,
			password:null,
			confirmPwd:null,
			msg:null,
			msg2:null,
			safecode:null,
			flag:false,
			msg3:null
		},
		methods:{
			
			checkUname(){
				var r1=/^[a-zA-Z0-9]{3,20}$/;
				if (!r1.test(this.username)) {
					this.username='用户名必须是3-20位字母或数字组成';
					return false;
				}
				
				axios.post("http://localhost:8888/check",{
					"u_username":this.username
				},{withCredentials:true}).then((response) => {
					if(response.data.data!=null){
						this.username='用户名已存在';
						return false;
					}
						
				});
			},
			checkPwd(){
				var r2=/^[0-9]{6,10}$/;
				if(!r2.test(this.password)){
					this.msg='密码必须为6-10数字';
					return false;
				}
				this.msg='';
				
			},
			confPwd(){
				if(this.password!=this.confirmPwd){
					this.msg2='两次密码不一致';
					return false;
				}
				this.msg2='';
			},
			checkSafe(){
				var r4=/^[0-9]{6,7}$/
				if (!r4.test(this.safecode)) {
					this.msg3='安全码必须为6位数字';
					return false;
				}
				this.msg3='';
			},
			
			
			register(){
				if(this.username==null){
					this.username='用户名不能为空';
					this.checkUname();
					return false;
				}
				if(this.password==null){
					this.msg='密码不能为空';
					this.checkPwd();
					return false;
				}
				if(this.confirmPwd==null){
					this.msg2='两次密码不一致';
					this.confPwd();
					return false;
				}
				if(this.safecode==null){
					this.msg3='安全码不能为空';
					this.checkSafe();
					return false;
				}
				axios.defaults.withCredentials=true;
				axios.post("http://localhost:8888/register",{
					"u_username":this.username,
					"u_password":this.password,
					"u_safecode":this.safecode,
				},{withCredentials:true}).then((response) => {
					if(response.data.code==200){
						layer.msg("注册成功！！！",{time:1000,icon:1,shift:5},function(){});
						window.location.href='login.html';
					}else{
						layer.msg("注册失败，请重新输入",{time:1000,icon:0,shift:5},function(){});
					}
				});
			}

		}
	  });
  </script>
</body>
</html>
