<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.dao.UserDao">
    <sql id="base_user_col">
        u_id,u_pickname,u_username,u_password,u_safecode,u_head,u_selfword,u_phone,u_money,u_role,u_card
    </sql>
    <!--增加用户-->
    <insert id="save" parameterType="com.woniu.pojo.User" useGeneratedKeys="true" keyProperty="u_id">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="u_id!= null">
                u_id,
            </if>
            <if test="u_pickname!= null">
                u_pickname,
            </if>
            <if test="u_username!= null">
                u_username,
            </if>
            <if test="u_password!= null">
                u_password,
            </if>
            <if test="u_safecode!= null">
                u_safecode,
            </if>
            <if test="u_head!= null">
                u_head,
            </if>
            <if test="u_selfword!= null">
                u_selfword,
            </if>
            <if test="u_phone!= null">
                u_phone,
            </if>
            <if test="u_money!= null">
                u_money,
            </if>
            <if test="u_role!= null">
                u_role,
            </if>
            <if test="u_card!= null">
                u_card,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="u_id!= null">
                #{u_id},
            </if>
            <if test="u_pickname!= null">
                #{u_pickname},
            </if>
            <if test="u_username!= null">
                #{u_username},
            </if>
            <if test="u_password!= null">
                #{u_password},
            </if>
            <if test="u_safecode!= null">
                #{u_safecode},
            </if>
            <if test="u_head!= null">
                #{u_head},
            </if>
            <if test="u_selfword!= null">
                #{u_selfword},
            </if>
            <if test="u_phone!= null">
                #{u_phone},
            </if>
            <if test="u_money!= null">
                #{u_money},
            </if>
            <if test="u_role!= null">
                #{u_role},
            </if>
            <if test="u_card!= null">
                #{u_card},
            </if>
        </trim>
    </insert>

    <!--查找所有用户-->
    <select id="findAll" resultType="user">
        select
        <include refid="base_user_col"></include>
        from user
    </select>

    <!--查找一个用户-->
    <select id="findOne" parameterType="int" resultType="user">
        select
        <include refid="base_user_col"></include>
        from user
        <where>
            u_id=#{u_id}
        </where>
    </select>

    <!--修改用户-->
    <update id="update" parameterType="user">
        update user
        <set >
            <if test="u_pickname!= null">
                u_pickname=#{u_pickname},
            </if>
            <if test="u_username!= null">
                u_username=#{u_username},
            </if>
            <if test="u_password!= null">
                u_password=#{u_password},
            </if>
            <if test="u_safecode!= null">
                u_safecode=#{u_safecode},
            </if>
            <if test="u_head!= null">
                u_head=#{u_head},
            </if>
            <if test="u_selfword!= null">
                u_selfword=#{u_selfword},
            </if>
            <if test="u_phone!= null">
                u_phone=#{u_phone},
            </if>
            <if test="u_money!= null">
                u_money=#{u_money},
            </if>
            <if test="u_role!= null">
                u_role=#{u_role},
            </if>
            <if test="u_card!= null">
                u_card=#{u_card},
            </if>
        </set>
        <where>
            u_id=#{u_id}
        </where>
    </update>

    <!--删除用户-->
    <delete id="delete" parameterType="int">
        delete from user
        <where>
            u_id=#{u_id}
        </where>
    </delete>

    <!--登录用户-->
    <select id="login" parameterType="user" resultType="user">
        select
        <include refid="base_user_col"></include>
        from user
        <where>
            u_username=#{u_username} and u_password=#{u_password}
        </where>
    </select>

    <select id="check" parameterType="user" resultType="user">
        select
        <include refid="base_user_col"></include>
        from user
        <where>
            u_username=#{u_username}
        </where>
    </select>

    <update id="updPwd" parameterType="user" useGeneratedKeys="true" keyProperty="u_id" >
        update user
        <set >
            <if test="u_pickname!= null">
                u_pickname=#{u_pickname},
            </if>
            <if test="u_username!= null">
                u_username=#{u_username},
            </if>
            <if test="u_password!= null">
                u_password=#{u_password},
            </if>
            <if test="u_safecode!= null">
                u_safecode=#{u_safecode},
            </if>
            <if test="u_head!= null">
                u_head=#{u_head},
            </if>
            <if test="u_selfword!= null">
                u_selfword=#{u_selfword},
            </if>
            <if test="u_phone!= null">
                u_phone=#{u_phone},
            </if>
            <if test="u_money!= null">
                u_money=#{u_money},
            </if>
            <if test="u_role!= null">
                u_role=#{u_role},
            </if>
            <if test="u_card!= null">
                u_card=#{u_card},
            </if>
        </set>
        <where>
            u_username=#{u_username} and u_safecode=#{u_safecode}
        </where>
    </update>
</mapper>